NODE_ENV=development
HOST=127.0.0.1
PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres_perf_lab
POSTGRES_PORT=5432

DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable

PG_POOL_MAX=20
PG_POOL_IDLE_TIMEOUT_MS=30000
PG_POOL_CONNECTION_TIMEOUT_MS=5000

PGBOUNCER_PORT=6432
PGBOUNCER_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${PGBOUNCER_PORT}/${POSTGRES_DB}?sslmode=disable
